:root {
  --primary-color: #0f3057; /* Định nghĩa biến màu chính */
  --secondary-color: #cc041a; /* Định nghĩa biến màu phụ */
  --color-success: #1b9c85;
  --color-danger: #ff0060;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-dark: #363949;
  --color-dark-variant: #677483;

  --box-shadow: 2rem 0 3rem var(--color-light);
}

/* html */
html {
  margin: auto;
}

/* body */
body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 600;
  background: #ececec;
  margin: 0;
  padding: 0;
}

/* header */
#logo a:hover {
  opacity: 0.8;
}

/* seacrch */
#search {
  max-height: 50px;
  max-width: 700px;
}

/* Tài khoản */
#account {
  cursor: pointer;
}
#account span {
  font-size: 18px;
  font-style: italic;
}

.icon-header {
  font-size: 30px;
  display: block;
  /* Đặt hiệu ứng  */
  transition: transform 0.3s ease;
}
/* Giỏ hàng  */
#cart {
  position: relative;
}

#cart .badge {
  position: absolute;
  top: -10px;
  right: -14px;
  color: #fff;
  background-color: var(--color-danger);
}

.icon-header:hover,
.icon-header:hover + .badge {
  opacity: 0.8;
  transform: translate(-2px);
}

a {
  text-decoration: none;
  color: #fff;
}

.dropdown-toggle::after {
  content: none;
}

/* ------------------------------Thanh điều hướng------------------------------ */

.nav-list {
  overflow: hidden;
}

.nav-method .nav-list .nav-link {
  text-align: center;
}

.nav-list .nav-link .icon-nav {
  color: var(--secondary-color);
  margin: 0 8px;
}
.nav-list .nav-link {
  font-size: 12px;
  margin-left: 2px;
  position: relative;
}
.nav-list .nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: var(--primary-color);
  transition: height 0.3s ease;
}

.nav-list .nav-link:hover::before {
  height: 4px;
}

.nav-list .nav-link {
  background-color: #fff;
  color: var(--primary-color);
  font-size: medium;
}

/* ------------------------------Footer------------------------------- */
.bg_primary {
  background-color: var(--primary-color);
}

footer {
  min-height: 320px;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  padding-bottom: 5px;
  font-size: larger;
  transition: transform 0.4s linear;
}

footer ul li:hover {
  color: var(--secondary-color);
  transform: translate(-4px);
}

/* -------------------Ảnh sản phẩm -------------------- */

#img-products {
  background: #eeeee6;
  backdrop-filter: blur(10px);
  padding-top: 10px;
  border-radius: 10px;
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

#img-products:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.5);
  outline-color: #d3d3d3;
  outline-offset: 5px;
}

#img-products img {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 90%;
  height: 200px;
  object-fit: cover;
  filter: drop-shadow(0 10px 5px #61616199);
  margin: auto;
  border-radius: 10px;
  /* Hiệu ứng zoom */
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

#img-products img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#img-products h6 {
  text-align: center;
  margin: 0;
  padding: 8px 0 4px 0;
}

#img-products .price-list {
  text-align: center;
  font-size: medium;
  padding: 4px 0;
}

.price {
  padding: 4px 0;
  text-decoration: line-through;
  color: darkgray;
}
.price-sale {
  color: var(--secondary-color);
  padding-right: 10px;
}

#img-products .btn {
  padding: 4px 10px;
}

/* Sản phẩm chi tiết */
#detail-products .img-view {
  object-fit: scale-down;
  height: 350px;
}
#detail-products .describe {
  font-weight: 500;
  font-size: medium;
  font-style: italic;
}
#detail-products p span {
  margin-left: 8px;
  font-size: large;
}

/* -----------------------------From đăng nhập------------------------------ */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

#fromRegis .box-area {
  width: 930px;
}

#fromRegis .right-box {
  padding: 40px 30px 40px 40px;
}

#fromRegis .forgot a {
  color: blue;
  text-decoration: underline;
}

#fromRegis ::placeholder {
  font-size: 16px;
}

#fromRegis .rounded-4 {
  border-radius: 20px;
}
#fromRegis .rounded-5 {
  border-radius: 30px;
}

/* -----------------------------DANH SÁCH - THÊM SẢN PHẨM ------------------------ */

.title {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}

.header-ds {
  color: var(--primary-color);
}
#products tr {
  text-align: center;
  vertical-align: middle;
}

#products td img {
  display: block;
  border-radius: 5px;
  margin: 0 auto;
}

#products a:hover {
  opacity: 0.5;
}

#products tr:hover {
  background-color: #1b9c85;
}

#detail-products img {
  width: 100%;
}

/* ----------------------------------Responsive-------------------------- */
@media only screen and (max-width: 768px) {
  #fromRegis .box-area {
    margin: 0 10px;
  }
  #fromRegis .left-box {
    height: auto;
    overflow: hidden;
  }
  #fromRegis .right-box {
    padding: 20px;
  }
}

/* ------- Icon người dùng-------------- */
.icon-user {
  text-align: center;
}

/* --------------------------- Đăng nhập  ------------------------ */

.input-group,
.form-floating {
  position: relative;
}
.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border-radius: 10px;
  cursor: pointer;
  z-index: 5;
}

/* Đổi mật khẩu */
.change_pass {
  color: var(--color-danger);
}

.change_pass:hover {
  text-decoration: underline;
}

/* ---------------------------- Hình ảnh tự động --------------------------- */
#carouselControls {
  height: 400px;
}

.carousel-item img {
  height: 400px;
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  color: var(--primary-color);
}

/* -------------------------Home trang tin ---------------------------- */
.badge {
  position: absolute;
  top: 14px;
}

.badge-lg {
  font-size: 1em; /* Điều chỉnh kích thước phù hợp */
  padding: 0.4em 0.6em; /* Điều chỉnh lề nếu cần */
}

.view {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-dark-variant);
}
